@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
  
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar{
    display: none
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  border-bottom: 1px solid #d9d9d9;
}
.fc-col-header thead th,
tr {
  border: none;
}

.fc-col-header tbody,
td {
  margin: 16px !important;
  background-color: #f9f9f9;
  border: none;
  border-radius: 16px;
  text-align: center;
  font-weight: 500;
}
.fc-col-header tbody,
td div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #4c4c58;
}

.fc-gapButton-button {
  display: none;
}

.fc-monthButton-button .fc-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-color: green;
}

.fc-toolbar-chunk .fc-updateAvailablity-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 25px;
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}
.fc td {
  vertical-align: middle !important;
}

.fc {
  background-color: white;
  border-radius: 35px;
}

.fc-titleButtonIcon {
  background-color: red;
  font-size: 14px;
}

.slick-slider {
  width: 100%;
  height: 1024px;
  margin: auto;
}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}
.no-outline:focus{
  outline: none;
}

@media only screen and (max-width: 1040px) {
  .slick-slider {
    height: 100%;
  }
}

.slick-list {
  height: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 3% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots > li {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots > .slick-active div {
  background-color: aqua;
  width: 10.34px;
  height: 10.34px;
  border-radius: 9999px;
}

.round_checkbox {
  position: relative;
  top: 1px;
}

.round_checkbox label {
  background-color: #e9ecec;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round_checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round_checkbox input[type="checkbox"] {
  visibility: hidden;
}

.round_checkbox input[type="checkbox"]:checked + label {
  background-color: #2cbfca;
  border-color: #2cbfca;
}

.round_checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.custom-div {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.stepper {
  padding: 0px !important;
}

.verticalStepperWrapper {
  gap: 10px;
}

.label {
  font-family: inter;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 !important;
  color: #cccccc;
}

.YQZiU8D8fXz6FUlYYoMx {
  width: 34px !important;
  height: 34px !important;
}

input[type="radio"] {
  accent-color: #149797;
}

.fc-toolbar-chunk div{
display: flex;
justify-content: center;
gap: 10px;
margin-right: 30px;
}
.fc-toolbar-title{
font-size: 18px;
}
