.modal{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 60%;
    background-color: white;
    border-radius: 20px;
}